server {
    listen       80;
    #server_name  localhost;

    location / {
        root   /path/to/mcadmin-flask/root;
        index  index.htm;
    }

    location /api {
        proxy_pass http://localhost:5000/api;
    }
}
